section {
    display: grid;
    place-items: center;

    app-layout-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: calc(var(--h-space)*7);
        gap: calc(var(--h-space)*5);

        header {
            h2 {
                text-transform: uppercase;
            }
        }

        figure {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: calc(var(--h-space)*3);

            picture {
                &.horizontal {
                    max-width: min(100%, 500px);
                    
                    img {
                        aspect-ratio: 16 / 9;
                    }
                }
                &.vertical {
                    max-width: min(100%, 300px);

                    img {
                        aspect-ratio: 9 / 12;
                    }
                }
                img{
                        border: 8px solid var(--secondary-color);
                        width: 100%;
                        object-fit: cover;
                }
            }

            &.right {
                flex-direction: row-reverse;
            }

            >figcaption {
                display: flex;
                flex-direction: column;
                font-family: 'roboto', sans-serif;
                flex: 1;
                min-width: min(50%, 400px);
                gap: var(--h-space);

                p {
                    text-align: justify;
                    color: black;
                }
            }
        }

    }

}

.primary {
    color: var(--primary-color)
}

.secondary {
    color: var(--secondary-color);
}

.dark {
    color: var(--text-dark)
}

.light {
    color: var(--text-light)
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}