section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(var(--h-space)*7) calc(var(--w-space)*3);
    gap: calc(var(--h-space)*5);

    header {
        h2 {
            text-transform: uppercase;
        }
    }

    figure {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: calc(var(--h-space)*3);
        max-width: min(90%, 1200px);

        picture {
            width: 100%;
            max-width: min(100%, 500px);

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &.right {
            flex-direction: row-reverse;
        }

        >figcaption {
            display: flex;
            flex-direction: column;
            font-family: 'roboto', sans-serif;
            flex: 1;
            min-width: min(50%, 400px);
            gap: var(--h-space);

            p {
                text-align: justify;
                hyphens: auto;
                color: black;
            }
        }
    }

}

.primary {
    color: var(--primary-color)
}

.secondary {
    color: var(--secondary-color);
}

.dark {
    color: var(--text-dark)
}

.light {
    color: var(--text-light)
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}