main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: calc(var(--h-space)*7) 0;

  > section {
    padding: calc(var(--h-space)*5) 0;

    app-layout-container {
      display: flex;
      flex-direction: column;
      gap: calc(var(--h-space)*2);

      article {}

      figure {
        display: flex;
        gap: var(--w-space);

        img {
          flex: 1;
          aspect-ratio: 16 / 9;
        }
      }
    }
  }
}