<footer>
    <section class="span-two-rows">
        <h3>Horario</h3>
        <article>
            <h4>De Martes a Jueves</h4>
            <small>12.00h a 00.00h</small>
        </article>
        <article>
            <h4>De viernes a Domingo</h4>
            <small>12.00h a 02.00h</small>
        </article>
        <article>
            <h4>Lunes</h4>
            <small>Cerrado por descanso</small>
        </article>
    </section>
    <address>
        <h3>Dirección</h3>
        <small>C/ Antón del Faro, nº 120</small>
        <small>Llanes - Asturias</small>
    </address>


    <nav aria-label="Enlaces principales">
        <h3>Descubre</h3>
        <ul>
            <li routerLink="/nosotros">Nosotros</li>
            <li routerLink="/carta">Carta</li>
        </ul>
    </nav>

    <address>
        <h3>Reservas</h3>
        <small>+34 984 851 368</small>
        <small>+34 656 614 888</small>
        <small>reservas@salyolivo.com</small>
    </address>

    <nav aria-label="Redes sociales">
        <h3>Redes sociales</h3>
        <ul>
            <li>IG</li>
            <li>FB</li>
            <li>TK</li>
        </ul>
    </nav>

    <nav aria-label="Textos legales">
        <h3>Textos Legales</h3>
        <ul>
            <li routerLink="/legal">Aviso Legal</li>
            <li routerLink="/privacidad">Política de privacidad</li>
            <li routerLink="/cookies">Política de Cookies</li>
        </ul>
    </nav>
</footer>