section{
    display: flex;
    flex-direction: column;
    padding: calc(var(--h-space)*7) calc(var(--w-space)*3);
    gap: calc(var(--h-space)*5);

    &:nth-of-type(even){
        background-color: var(--primary-color);
        > header > h2{
            color: #1c1c1c;
        }
    }
    >header{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            color: var(--secondary-color);
        }
    }
    >main{
        display: grid;
        /* LA MAGIA: Crea tantas columnas como quepan, con un mínimo de 200px de ancho cada una. 
           Si no caben, las baja. Cero media queries. */
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
        padding: 0 2dvw;
        row-gap: calc(var(--h-space) * 5);
        column-gap: calc(var(--w-space) * 2);
        >article{
            display: flex;
            flex-direction: column;
            gap: 3dvh;
            >figure{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: var(--h-space);
                >picture{
                    width: 100%;
                    height: auto;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    >img{
                        border: 5px solid var(--primary-color);
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 7px;
                        box-shadow: 2px 2px 10px var(--primary-color);
                    }
                }
                > figcaption{
                    font-size: larger;
                    font-weight: 600;
                }

            }
            div{
                gap: var(--h-space);
                p{
                    text-align: justify;
                }
            }
        }
    }
    >figure{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: calc(var(--h-space)*3);
        picture{
            > img{
                border: 8px solid var(--secondary-color);
                max-width: min(100%, 500px);
            }
        }
        >figcaption{
            display: flex;
            flex-direction: column;
            font-family: 'roboto', sans-serif ;
            flex: 1;
            min-width: 50%;
            gap: var(--h-space);
            p{
                text-align: justify;
                color: black;
            }
        }
    }
}

h2{
    text-transform: uppercase;
}

.reviews{
    display: flex;

    main{
        display: flex;
        >article{
            display: flex;
            flex-direction: column;
            gap: var(--h-space);
            justify-content: center;
            text-align: center;
            flex-basis: 100%;
            >div{
                gap: var(--h-space);
                >p{
                    text-align: center;
                }
            }
        }

    }
    footer{
        text-align: center;
    }
}